xsd/internal/tui_calendar/getSchedules.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:c8oprj_lib_tui_ns="http://www.convertigo.com/convertigo/projects/c8oprj_lib_tui" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/c8oprj_lib_tui">
    <xsd:element name="tui_calendar__getSchedules" type="c8oprj_lib_tui_ns:tui_calendar__getSchedulesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="tui_calendar__getSchedulesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="c8oprj_lib_tui_ns:tui_calendar__getSchedulesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="tui_calendar__getSchedulesResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="c8oprj_lib_tui_ns:tui_calendar__getSchedulesResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar__getSchedulesRequestData">
        <xsd:sequence>
            <xsd:element name="_use_ddoc" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Design document name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_view" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>View function name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_startkey" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Return records starting with the specified key. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_endkey" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Stop returning records when the specified key is reached. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_calendarIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_titleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_bodyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_startType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_endType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_goingDurationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_comingDurationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_isAllDayType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_categoryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_dueDateClassType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_locationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_attendeesType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="length" type="xsd:byte"/>
                <xsd:attribute default="array" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_recurrenceRuleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_value_isPendingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_idType"/>
            <xsd:element minOccurs="0" name="calendarId" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_calendarIdType"/>
            <xsd:element minOccurs="0" name="title" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_titleType"/>
            <xsd:element minOccurs="0" name="body" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_bodyType"/>
            <xsd:element minOccurs="0" name="start" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_startType"/>
            <xsd:element minOccurs="0" name="end" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_endType"/>
            <xsd:element minOccurs="0" name="goingDuration" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_goingDurationType"/>
            <xsd:element minOccurs="0" name="comingDuration" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_comingDurationType"/>
            <xsd:element minOccurs="0" name="isAllDay" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_isAllDayType"/>
            <xsd:element minOccurs="0" name="category" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_categoryType"/>
            <xsd:element minOccurs="0" name="dueDateClass" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_dueDateClassType"/>
            <xsd:element minOccurs="0" name="location" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_locationType"/>
            <xsd:element minOccurs="0" name="attendees" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_attendeesType"/>
            <xsd:element minOccurs="0" name="recurrenceRule" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_recurrenceRuleType"/>
            <xsd:element minOccurs="0" name="isPending" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_value_isPendingType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_idType"/>
            <xsd:element minOccurs="0" name="key" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_keyType"/>
            <xsd:element minOccurs="0" name="value" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Transfer-Encoding" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="Server" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="statusCode" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_statusCodeType"/>
            <xsd:element minOccurs="0" name="status" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="headers" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMeta_headersType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar_getSchedules_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="total_rows" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_total_rowsType"/>
            <xsd:element minOccurs="0" name="offset" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="_c8oMeta" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_output__c8oMetaType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="tui_calendar__getSchedulesResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="c8oprj_lib_tui_ns:tui_calendar_getSchedules_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="c8oprj_lib_tui_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="c8oprj_lib_tui_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="c8oprj_lib_tui_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
